@charset "ISO-8859-1";
*{
	font-family: 'comfortaa',cursive;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.form_box{
	width: 380px;
	height: 500px;
	position: relative;
	margin: 6% auto;
	background: #fff;
	padding: 5px;
	overflow: hidden;
}
.product{
    height: 100%;
	width: 100%;
	background-color: lavenderblush;
	background-position: center;
	background-size: cover;
	position: absolute;
}
 h2{
	text-align:center;
	padding: 0 10 30 10;
	margin-bottom:10px;
}